/* styles.css */

/* everything */
* {
    background-color: antiquewhite;
    box-sizing: border-box;
    color: peru;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

/* mainpage */
#logo {
    display: block;
    margin: auto;
    height: 200px;
}

h1 {
    font-size: 60px;
    margin: 50px;
    font-weight: 1000;
    display: flexbox;
}

p {
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
}

#new_line {
    display: block;
}

a,
img {
    display: block;
    margin: auto;
}


#first-two-recipes {
    display: inline-flex;
    width: auto;
}

#last-two-recipes {
    display: inline-flex;
}

/* images */
.mainpage_img {
    display: block;
    height: 150px;
}

