/* styles.css */

* {
    text-align: center;
    list-style-position: inside;
}

.food_pic,
#egg_fried_rice {
    display: block;
    width: 300px;
    margin: 0 auto;
}

* {
    font-size: 30px;
    margin-left: 15px;
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    text-align: left;
}

#logo {
    text-align: center;
    width: 700px;
    height: auto;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-weight: 700;
}

/* Odin Recipes */
h1 {
    font-size: 50px;
    border: 10px solid orange;
    display: inline;
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 45px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    border: 10px solid orange;
    padding: 2em 0em;
}

h3 {
    margin: 0 auto;
    font-size: 35px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    border: 10px solid orange;
    padding: 2em 0em;
}

h4 {
    font-size: 30px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    border: 10px solid orange;
    padding: 2em 0em;
}

#mainlist {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    border: 10px solid orange;
    padding: 2em 0em;
}
