/* styles.css */

/* everything */
* {
    background-color: antiquewhite;
    box-sizing: border-box;
    border: 0.00001px solid red;
    color: peru;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

/* mainpage */
#logo {
    display: block;
    margin: auto;
    height: 400px;
}

h1 {
    font-size: 70px;
    margin: 100px;
    font-weight: 1000;
    display: flexbox;
}

p {
    font-size: 40px;
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
}

#new_line {
    display: block;
}


/* images */
div {
    display: ;
}

.img-container {
    text-align: left;
}

.mainpage_img {
    height: 300px;
    display: inline-block;
}

#egg_fried_rice {
    margin-left: ;
}

#chinese_tomato_egg_stir-fry {
    margin-left: ;
}

#japanese_curry {
    margin-left: ;
}

#gochujang_paste {
    margin-left: ;
}